{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  {% load admin_urls %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.comment }}</td>
        <td>
          {% if order.restaurant__name %}
            Готовит: {{ order.restaurant__name }}
          {% elif order.status == 'START' %}
            {% if order.cancook %}
              {% if order.cancook.0.distance < 100 %}
                <details><summary>▼Может быть приготовлен:</summary>
                  <ul>
                    {% for rest in order.cancook %}
                      <li>{{ rest.name }} ({{ rest.distance|floatformat:1 }} км.)</li>
                    {% endfor %}
                  </ul>
                </details>
              {% else %}
                Ошибка определения координат
              {%  endif %}
            {%  else %}
              Нельзя приготовить
            {% endif %}
          {%  endif %}
        </td>
        <td><a href='{% url "admin:foodcartapp_order_change" order.id %}?next={{ request.path|urlencode:"" }}'>ред.</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
